.menu {
  width: 300px;
  height: 100%;
  padding: 8px;
  border-right: 1px solid #dcdcdc;
  @include vars.scrollBase();
  .menu-tree {
    .tree-label {
      height: 30px;
      line-height: 30px;
      font-size: 16px;
    }
    .iconfont {
      font-size: 16px;
      color: red;
    }
  }
}
